@import "tailwindcss";

@theme {
  --color-primary: #0f4c5c;
  --color-primary-dark: #0b3642;
  --color-primary-light: #166a80;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
